USE [master]
GO
/****** Object:  Database [Student]    Script Date: 11/9/2018 8:58:50 AM ******/
CREATE DATABASE [Student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Student_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Student]
GO
USE [Student]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 11/9/2018 8:58:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Birthday] [date] NULL,
	[IsMarried] [bit] NULL,
	[CAP] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Person_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [Name], [Surname], [Phone], [Birthday], [IsMarried], [CAP]) VALUES (1, N'Yasin', N'Mehdiyev', N'051-346-11-16', CAST(N'1999-07-25' AS Date), 0, CAST(75.00 AS Decimal(4, 2)))
INSERT [dbo].[Person] ([Id], [Name], [Surname], [Phone], [Birthday], [IsMarried], [CAP]) VALUES (2, N'Ramin', N'Orucov', N'070-313-13-43', CAST(N'1979-02-22' AS Date), 1, CAST(98.00 AS Decimal(4, 2)))
INSERT [dbo].[Person] ([Id], [Name], [Surname], [Phone], [Birthday], [IsMarried], [CAP]) VALUES (3, N'Elnur', N'Ramazanzadə', N'055-233-13-44', CAST(N'1989-05-15' AS Date), 1, CAST(95.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Person] OFF
ALTER TABLE [dbo].[Person] ADD  CONSTRAINT [DF_Person_IsMarried_1]  DEFAULT ((0)) FOR [IsMarried]
GO
USE [master]
GO
